.eyes {
  position: absolute;
}

.eye1 {
  top: 66px;
  right: 106px;
  width: 75px;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}
.eye2 {
  top: 70px;
  right: 158px;
  width: 75px;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}
