.eyes {
  position: absolute;
}

.eye1 {
  top: 344px;
  right: 134px;
  width: 75px;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}
.eye2 {
  top: 347px;
  right: 189px;
  width: 75px;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}
